@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #030014;
  --foreground: #ffffff;
}

html {
  overflow-y: auto;
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
