@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #08090a;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
